
.flipbook{
    width: 100%;
    // overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 77, 0, 0.254);
    border-radius: 10px;
    .react-pdf__Document{
        position: relative;
        height: 78vh;

        .react-pdf__Page{
            height: -webkit-fill-available;
            // background: rgb(0, 255, 89) !important;
            background: transparent !important;
            height: 70vh;
            min-width: 440px !important;

        }
        .react-pdf__Page__canvas {
            margin: 0;
            transform: translateX(-50%);
            position: absolute;
            user-select: none;
            left: 50%;
            top: 10px;
            height: 612px !important;
            aspect-ratio: auto 440/594 !important;

            border: 2px solid #00000042;
            border-radius: 6px;
        }
        .react-pdf__Page__annotations{
            width: 0 !important ;
        }
        canvas.mycanvas{
            display: block;
            position: absolute;
            z-index: 4;
            background-color: transparent;
            opacity: 1;
            width: 430px !important;
            height: 612px !important;
            left: 50%;
            top: 10px;
            transform: translateX(-50%);
            margin: 0;

        }
    }

}
.tool-btn{
    position: absolute;
    bottom: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 3;

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; /* Space between buttons */
    }
    
    .circle-button {
        width: 60px; /* Button size */
        height: 60px; /* Button size */
        border: none;
        border-radius: 50%; /* Makes the button circular */
        background-color: #007bff; /* Button color */
        color: white; /* Icon color */
        font-size: 24px; /* Icon size */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;

       
    }
    
    .circle-button:hover {
        background-color: #0056b3; /* Darker shade on hover */
    }
    
    .circle-button:focus {
        outline: none; /* Remove focus outline */
    }
}


