.textarea-auto-size {
    height       : 94px;
    width        : 90%;
    /* text-align: center; */
    border:none;
    line-height  : 23px;
    font-size    : 20px;
    padding      : 6px 8px;
    border-radius : 5px;
    letter-spacing:1px;
    max-height: 80px;
    box-shadow: rgb(0 0 0 / 15%) 0px -4px 0px 0px inset;
    outline: none;
    user-select: none;
    background-color: white;
    
}